@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.section {
 padding: 1rem 0;
}

.section-header {
  font-size: 3rem;
  padding-top: 3rem;
  color: black;
  text-align: center;
}

.container {
    /* max-width: 1280px; */
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    background: white;
    border-radius: .5rem;
}


#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: "Open Sans", sans-serif;
  border: 0.25rem solid lightblue;
  border-radius: 0.5rem;
  /* position: relative; */
  transition: top ease 0.5s;
  margin: 1rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  /* min-width: 280px;
  max-width: 100%; */
  /* position: relative; */
}

.plan:hover {
  // top: -10px;
  transform: scale(102%);
}

.entry-title {
  background: #53cfe9;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title > h3 {
  background: #20bada;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20bada;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content li {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
}

.btn a {
  background: #b06d43;
  padding: 10px 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  border-radius: .5rem;
}
.hot {
  position: absolute;
  top: -7px;
  background: #f80;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
  padding: 2px 5px;
  font-size: 9px;
  border-radius: 2px;
  right: 10px;
  font-weight: 700;
}
.basic .entry-title {
  background: #75ddd9;
}

.basic .entry-title > h3 {
  background: #44cbc6;
}

.basic .price {
  background: #44cbc6;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.ultimite .entry-title > h3 {
  background: #dd4b5e;
}

.ultimite .entry-title {
  background: #f75c70;
}

.ultimite .price {
  background: #dd4b5e;
}

.tier-description {
  width: 30ch;
  margin: auto;
  line-height: 1.25rem;
}
