ul {
  list-style: none;
  padding-left: 0;
}
footer {
//width: 1920px;
margin-top: 3rem;
background-image: url('../images/qg-logo-pattern.png');
opacity: .9;
line-height: 1.5;
/* position: absolute;
width: 100vw; */
//position: sticky;
//position: absolute;
left: 0;
bottom: 0;
width: 100%;
}

footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  text-transform: uppercase;
  /*   padding-bottom: 0.625rem; */
}

.ft-title , h3 {
    color: white;
}

.qg-footer-logo{
width: 10rem;
}
/* Sticks footer to bottom */

.container {
  flex: 1;
}
/* Footer main */

.footer-border{
    height: 1rem;
    background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 477px) {
  .ft-main {
   // justify-content: space-evenly;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }




}
@media only screen and (min-width: 77.5rem /* 1240px */) {

  .ft-main {
   justify-content: space-evenly;
   flex-direction: row;
  }



}

.ft-main-item {
padding: 1.25rem;
min-width: 12.5rem;
display: flex;
flex-direction: column;
align-items: center;
}

.ft-main-items , li {
    margin: .5rem 0;
    font-size: 1.25rem;
}

/* Footer social */
.ft-social {
   // padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
display: flex;
justify-content: center;
//border-top: 1px #777 solid;
//padding-top: .5rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.75rem;
}

.fa-facebook{
    color: darkblue;
}
.fa-twitter{
    color: lightblue;
}
.fa-instagram {
    color: orange;
}
.fa-github {
    color: gray;
}

.fa-linkedin {
    color: blue;
}
.fa-youtube {
    color: red;
}



/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
  //text-align: center;
  color: white;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;
}


@media only screen and (max-width: 1440px) {
.ft-legal-list{
flex-direction: column;
  //justify-content: center;
align-items: center;
  }

}
