
#main > div , .block-container2 , .block-container3 {
 // border: .5rem solid red;
}

.top-section-container {
  margin: auto 0;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.bottom-section-container{
margin: auto;
display: flex;
justify-content: center;
//gap: 2rem;
//flex-wrap: wrap;
}

.block1 {
  width: 900px;
  width: 40vw;
 // width: 45rem;
  height: 815px;
  height: 63vh;
  background-image: url("../images/man-on-couch.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 6rem;
  color: white;
}

.block1-header {
  font-size: 4rem;
  text-transform: uppercase;
}

.block1-header span {
  font-weight: 300;
}

.block1-sub-header {
  font-size: 2rem;
  width: 60%;
}

.box1-button {
  margin-top: 5rem;
  border: none;
  padding: 1.5rem 6rem;
  background-color: #7e5000;
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
}

.block2 {
  width: 497px;
  width: 18vw;
  height: 815px;
  height: 63vh;
  background-image: url("../images/couple-at-laptop.jpeg");
  background-size: cover;
  background-position: bottom center;
}

.block-container1 {
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.block3 {
  width: 458px;
  width: 18vw;
  height: 382px;
  height: 30vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 3rem;
}

.block3-button , .block3-button:hover{
  cursor: pointer;
  text-decoration: none;
}

.block3 p {
  color: white;
  font-wight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

.block3 h2 {
  color: white;
  font-size: 2.5rem;
}

.block4 {
  //width: 458px;
  width: 18vw;
  height: 382px;
  height: 30vh;
  background-image: url("../images/person-in-wheelchair.avif");
  background-size: cover;
  background-position: center -1rem;
}

.block5 {
  width: 477px;
  width: 18vw;
 // width: 25rem;
  height: 826px;
  height:64.5vh;
  background-size: cover;
  background-position: bottom center;
  background-color: black;
  background-image: url("../images/group-on-stairs.jpeg");
  margin-right: 3rem;
}

.block-container2 {
  display: flex;
// border: .5rem solid red;
 gap: 3rem;
 //flex-wrap: wrap;

}

.block-container3 {
 // border: .2rem solid red;
  display: flex;
  gap: 3rem;
  //flex-wrap: wrap;

}

.block-container-container{
  display: flex;
  flex-direction: column;
  //border: .2rem solid red;
  gap: 3rem;
  flex-wrap: wrap;
}

.block6 {
  width: 458px;
  width: 18vw;
  height: 388px;
  height: 30vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 3rem;
}

.block6-button , .block6-button:hover {
cursor: pointer;
text-decoration: none;
  }

.block6 p {
  color: white;
  font-wight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

.block6 h2 {
  color: white;
  font-size: 2.5rem;
}

.block7 {
  width: 912px;
  width: 39.5vw;
  height: 388px;
  height: 30vh;
  background-image: url("../images/person-smiling.jpeg");
  background-size: cover;
  background-position: center;
  //margin-left: 2rem;
}

.block8 {
  width: 893px;
  width: 39.5vw;
  height: 388px;
  height: 30vh;
  background-image: url("../images/person-looking-away.jpeg");
  background-size: cover;
  background-position: center;
//  margin-top: 2rem;
}

.block9 {
  width: 477px;
  width: 18vw;
  height: 388px;
  height: 30vh;
  background-image: url("../images/person-staring.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  //padding-left: 3rem;
//  margin-top: 2rem;
}

@media only screen and (max-width: 1440px) {




  .block1 {
    // width: 1220px;
    width: 95%;
    width: 100vw;
    background-image: url("../images/man-on-couch.jpeg") ;
    background-size: cover;
    background-size: 80% no-repeat;
    background-position: center;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    text-align: center;
  }

  .block1-header {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .box1-button {
    margin-top: 5rem;
    padding: 1.5rem 4rem;
    background-color: #7e5000;
    color: white;
    font-size: 1.25rem;
  }

  .block2 , .block5 , .block7 , .block8 {
    display: none;
  }

  .block3 {
    height: 382px;
    //width: 1030px;
    width: 1220px;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: auto;
  }

  .block4 {
    // display: none;
    width: 1220px;
    width: 100vw;
    background-position: center top;
    margin: 1rem auto;
  }


  .block6 {
    width: 1030px;
    width: 1220px;
    width: 100vw;
    height: 382px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin: auto;
  }




  .block9 {
    //margin: 2rem auto;
    //width: 1030px;
    width: 1220px;
    width: 100vw;
    margin: 1rem  auto;
  }

  .block-container2{
     flex-wrap: wrap;
  }

}

/* @media only screen and (max-width: 600px) {

 .block-container2, .block-container3 , .bottom-section-container {
     flex-wrap: wrap;
  }

} */
