/* navbar regular css start */

.header-area{
  text-decoration: none;
  margin-top: 3rem;
}


.header-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 1rem;

}

.navbar-area {
  background: white;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #000;
  font-size: 1rem;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  color: black;
  text-decoration: none;
}

.site-logo {
  width: 10rem;
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: black;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.75rem;

}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
 // border: 3px solid black;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: black;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */





/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .header-container {
   // max-width: 720px;
  }

  .header-area{
  text-decoration: none;
}
  /* navbar css for mobile start */

.navbar-area {
    font-size: .5rem;
}

  .nav-toggler{
    display: block;
  }

.site-logo {
  width: 5rem;

}


  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    left: 0;
    top: 150px;
    flex-direction: column;
    align-items: center;
   // border-top: 1px solid #444;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    //font-weight: bold;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
    font-size: 1rem;
  }
  .site-navbar ul li a:hover {
    background-color: #772f1a;
background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);

  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}

/* mobile breakpoint end */
/* @media only screen and (max-width: 1440px) {

  .site-logo{
      width: 4rem;
  }

  .navbar-area {
    font-size: .5rem;
}
} */
