@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;
display: block;
//position: relative;
//width: 100vw;
}

body {
   display: flex;
  min-height: 100vh;
  flex-direction: column;
}


#main {
  flex: 1;
}




.about-main , .resources-main, .blog-main , .contact-main, .donate-main{
  margin: auto;
  margin-top: 3rem;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post {
 margin: auto;
 //height: 100%;
 width: 100vw;
 //width: 100%;
}


@media only screen and (max-width: 720px) {

  /* .blog-post{
    width: 100vw;
  } */

}
